<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booked &mdash; Login</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <h1>Welcome to the login page</h1>
    
    <input type="text" id="username" placeholder="Enter you username">
    <input type="password" id="password">
    <input type="button" id="enter" value="Log in">
</body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    {% load static %}
    <script src="{% static 'libs/sjcl.js' %}"></script>
    <script src="{% static 'framework.js' %}"></script>
    <script src="{% static 'logger/login.js' %}"></script>
</html>