<!-- Meeting card -->
<div class="meeting_card">
    <div class="meeting_card_title">
        <h3>Física</h3>
    </div>
    <div class="meeting_card_hour">
        <p>12:00 - 13:00</p>
    </div>
    <div class="meeting_card_buttons">
        <div class="button">
            <p>Link</p>
        </div>
        <div class="button">
            <p>Más</p>
        </div>
    </div>
</div>

<!-- Task card -->
<div class="task_card">
    <div class="task_card_title">
        <h3>Física</h3>
    </div>
    <div class="task_card_description">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, praesentium. Dicta, doloremque voluptates, facilis labore distinctio soluta suscipit corporis, velit odit aperiam mollitia reiciendis necessitatibus aliquid repellendus id accusamus eaque.</p>
    </div>
    <div class="task_card_date">
        <p>12:00 - 13:00</p>
    </div>
    <div class="task_card_button">
        <div class="button">
            <p>Más</p>
        </div>
    </div>
</div>

<!-- Filter result -->
<div class="result">
    <div class="month">
        <h2>Mes</h2>
    </div>
    <div class="day">
        <h2>Día</h2>
    </div>
    <div class="event">
        <!-- Meeting card -->
        <div class="meeting_card">
            <div class="meeting_card_title">
                <h3>Física</h3>
            </div>
            <div class="meeting_card_hour">
                <p>12:00 - 13:00</p>
            </div>
            <div class="meeting_card_buttons">
                <div class="button">
                    <p>Link</p>
                </div>
                <div class="button">
                    <p>Más</p>
                </div>
            </div>
        </div>

        <!-- Task card -->
        <div class="task_card task_card_expanded">
            <div class="task_card_title">
                <h3>Física</h3>
            </div>
            <div class="task_card_description">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, praesentium. Dicta, doloremque voluptates, facilis labore distinctio soluta suscipit corporis, velit odit aperiam mollitia reiciendis necessitatibus aliquid repellendus id accusamus eaque.</p>
            </div>
            <div class="task_card_date">
                <p>12:00 - 13:00</p>
            </div>
            <div class="task_card_button">
                <div class="button">
                    <p>Más</p>
                </div>
            </div>
        </div>
    </div>
</div>