<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booked &mdash; Dash</title>
</head>
<body>
    <h1>This is the admin dashboard</h1>


    <h1>Create meetings</h1>
    
</body>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    {% load static %}
    <script src="{% static 'libs/sjcl.js' %}"></script>
    <script src="{% static 'framework.js' %}"></script>
    <script src="{% static 'dashboard/event_dispatcher.js' %}"></script>
</html>