<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booked &mdash; Dash</title>

    {% load static %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static '/assets/fonts/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/styles/filters.css' %}">

</head>
    <script>let params = "{{ params }}";</script>
<body>
    <nav>
        <div id="nav_top">
            <div id="nav_logo">
                <h1>booked</h1>
            </div>
            <div id="nav_date">
                <h1>Jue, 12</h1>
            </div>
        </div>
        <div id="nav_bottom">
            <div id="nav_groups" class="nav_side-bar nav_hover">
                <p>Grupos</p>
            </div>
            <div id="nav_meeting" class="nav_side-bar nav_hover">
                <p>Nueva reunión</p>
            </div>
            <div id="nav_task" class="nav_side-bar nav_hover">
                <p>Nueva tarea</p>
            </div>
            <div id="nav_quick_settings">
                <div id="join_group" class="nav_side-bar nav_hover">
                    <span class="micons">add</span>
                </div>
                <div id="settings" class="nav_side-bar nav_hover">
                    <span class="micons">settings</span>
                </div>
                <div id="nav_home" class="nav_hover">
                    <span class="micons">home</span>
                </div>
            </div>
        </div>
    </nav>
    <div id="nav_padding"></div>

    <div id="filters_page">
        <div id="title">
            <h1>Reuniones</h1>
        </div>
        <div id="filters">
            <div class="text">
                <input type="text" name="input_date" id="">
                <input type="text" name="input_time" id="">
            </div>
            <div class="buttons">
                <div class="button">
                    <p>Grupos</p>
                </div>
                <div class="button">
                    <p>Buscar</p>
                </div>
            </div>
        </div>
        <div id="results">
            
        </div>
    </div>
</body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    {% load static %}
    <script src="{% static 'libs/sjcl.js' %}"></script>
    <script src="{% static 'framework.js' %}"></script>
    <script src="{% static 'dashboard/scripts/event_dispatcher.js' %}"></script>
    <script src="{% static 'dashboard/scripts/filters.js' %}"></script>
</html>